* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: rgb(62, 86, 98);
  color: white;
  text-align: center;
  padding: 2rem;
  margin: 0 0 2rem 0;
  display: flex;
}

table {
  margin: auto;
  min-width: 50%;
}

.univ_name {
  margin: 1rem;
  text-align: center;
  width: 90%;
}

.logo > img {
  width: 100%;
  height: auto;
}

.main_heading {
  text-align: center;
  margin-bottom: 1rem;
}

.get_input_details,
.upload_marks,
.get_csv_file,
.get_session_form,
.track_credits,
.login,
.oec_options {
  margin: 1rem auto 1rem auto;
  height: fit-content;
  width: 75%;
  padding: 1rem;
  border: 1px;
  border-radius: 1px;
  background-color: rgb(192, 206, 206);
  display: block;
  align-items: center;
}

.label_regno,
.label_session,
.label_session_month,
.label_session_year,
.label_OTP {
  /* background-color: blueviolet; */
  margin: 1rem auto 1rem auto;
  text-align: center;
  font-weight: 700;
}

#regno,
#otp,
.input_session,
#session_month,
#session_year,
.input_yoj,
#yoj,
.label_prgm {
  /* input field */
  margin: 1rem auto 1rem auto;
  display: block;
  width: 50%;
  min-height: 2rem;
  font-weight: 700;
  text-align: center;
  font-size: larger;
}

#prgm_id {
  margin: 1rem auto 1rem auto;
  display: block;
  width: 50%;
  min-height: 2rem;
  font-weight: 700;
  font-size: larger;
}

.input_course_code {
  padding: 1rem;
}

.buttons-flex {
  display: flex;
  justify-content: center;
}

.submit_option,
.submit_marks_attendance,
.submit_ext_marks,
.btnn,
.submit_session,
.download_pdf {
  background-color: rgb(72, 69, 69);
  color: white;
  padding: 1%;
  margin: 1rem 40% 1rem 40%;
  cursor: pointer;
}

.submit_option {
  margin: auto;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.small_btn,
.submit_sess_exam_regn {
  background-color: rgb(72, 69, 69);
  color: white;
  font-weight: 700;
  height: 2rem;
  padding: 0.5rem;
  display: block;
  margin: 1rem auto 1rem auto;
}

.small_btn:hover,
.submit_sess_exam_regn:hover {
  background-color: rgb(229, 229, 217);
  color: black;
}

/* buttons on home page */
.btnn,
.submit_session {
  font-size: 1.5em;
  min-width: 50%;
  margin: 1rem auto 1rem auto;
  display: block;
}

/* colors of the links */
a {
  text-decoration: none;
}

a:link > button {
  color: white;
}

/* a:visited > button {
  color: rgb(221, 250, 184);
} */

a:hover > button {
  background-color: rgb(229, 229, 217);
  color: black;
  font-weight: 700;
}

.course_details {
  text-align: center;
  margin: 1rem auto 1rem auto;
  font-weight: bold;
  background-color: rgb(192, 206, 206);
  padding: 1rem 0 1rem 0;
}

.marks_table {
  margin-left: auto;
  margin-right: auto;
}

tr,
th,
td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
}

.left-align-table td,
.left-align-table th {
  text-align: justify;
}

.stud_enrollment_table td {
  /* border-radius: 25px; */
  /* border: none; */
  /* background-color: rgb(104, 170, 227); */
  padding: 1rem;
  margin: 1rem;
}

.stud_enrollment_table {
  border-collapse: collapse;
}

.stud_enrollment_table td input[type="text"],
.stud_enrollment_table td select,
.stud_enrollment_table td input[type="email"] {
  width: 90%;
  height: 100%;
  padding: 5px;
  background-color: rgb(233, 232, 232);
  font-size: large;
  border-radius: 25px;
  border: none;
}

.stud_page_welcome {
  text-align: center;
}

#txt {
  color: red;
  font-size: large;
  font-weight: 700;
}

.box {
  max-width: fit-content;
  margin: auto;
}

.allotment-order-header {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(225, 224, 224));
  height: fit-content;
  margin: 1rem;
  min-width: fit-content;
  display: flex;
}

.allotment-order-header > .univ_name {
  margin: auto;
}

.allotment-order-header > .univ_logo {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.univ_logo > img {
  height: 8rem;
  width: auto;
}

.photo > img {
  height: 12rem;
}

.photo {
  margin-top: auto;
  margin-bottom: auto;
  padding: 3rem;
}

.stud_details_box {
  margin: auto;
  display: flex;
  border: 3px solid gray;
  border-radius: 1rem;
  justify-content: center;
  width: fit-content;
  margin-top: 3rem;
}

.stud_details {
  padding: 2rem;
}

.stud_details > h2,
.oec_title > h2 {
  text-align: center;
}

.stud_details_table,
.oec_details_table,
.hm_reg_table {
  border-collapse: collapse;
  border: 1px solid gray;
  margin-top: 1rem;
}

.oec_box {
  border: 3px solid gray;
  border-radius: 1rem;
  padding: 1rem;
  width: fit-content;
  margin: auto;
  margin-top: 3rem;
}

.stud_details_crs {
  padding: 2rem;
  background-color: rgb(197, 195, 195);
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
}

.course_regn > h2 {
  padding: 2rem;
  background-color: rgb(217, 246, 174);
  margin-top: 2rem;
}
